body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 5.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.5rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.16rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.64rem;
    font-size: calc( 2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #55b4d4 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2a88a8 !important;
  border-color: #2a88a8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2a88a8 !important;
  border-color: #2a88a8 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #db0037 !important;
  border-color: #db0037 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #db0037 !important;
  border-color: #db0037 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #55b4d4;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2a88a8 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff3366;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #db0037 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #534d46 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f7ed4a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #e0d40a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #879a9f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5c6e73 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b1a374;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #84774a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #55b4d4 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #277e9c !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #55b4d4;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #55b4d4;
  border-color: #55b4d4;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #55b4d4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #55b4d4 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #55b4d4;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #55b4d4;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #55b4d4;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #55b4d4;
  border-bottom-color: #55b4d4;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #55b4d4 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2355b4d4' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-qNM8kJwVD9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #55b4d4;
  background: linear-gradient(45deg, #55b4d4, #000000);
}
@media (min-width: 992px) {
  .cid-qNM8kJwVD9 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qNM8kJwVD9 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qNM8kJwVD9 .mbr-text {
    text-align: center;
  }
}
.cid-qNM8kJwVD9 H1 {
  text-align: center;
}
.cid-qPcXF4MiW5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qPcXF4MiW5 .mbr-text,
.cid-qPcXF4MiW5 blockquote {
  color: #767676;
}
.cid-qPcXF4MiW5 .mbr-text {
  text-align: center;
}
.cid-qPcXF4MiW5 .mbr-text DIV {
  color: #767676;
}
.cid-qPcXF4MiW5 .mbr-text P {
  text-align: center;
}
.cid-qPzzVbzPk5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qPzzVbzPk5 .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qPzzVbzPk5 .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-qPzzVbzPk5 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qPzzVbzPk5 .inner-container {
    width: 100% !important;
  }
}
.cid-qNMY2EaTp1 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qNMY2EaTp1 .mbr-text,
.cid-qNMY2EaTp1 blockquote {
  color: #767676;
}
.cid-qNMY2EaTp1 .mbr-text {
  text-align: center;
}
.cid-qPzElQevx2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qPzElQevx2 .mbr-text {
  color: #767676;
}
.cid-qPzNKecyXS {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #b2ccd2;
}
.cid-qPzNKecyXS .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qPzNKecyXS .section-text {
  padding: 2rem 0;
  text-align: center;
}
.cid-qPzNKecyXS .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qPzNKecyXS .inner-container {
    width: 100% !important;
  }
}
.cid-qPzMWISWip {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qPzMWISWip .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qPzMWISWip .section-text {
  padding: 2rem 0;
  text-align: center;
}
.cid-qPzMWISWip .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qPzMWISWip .inner-container {
    width: 100% !important;
  }
}
.cid-qPzMWISWip .section-text DIV {
  text-align: center;
}
.cid-qNRKA7PRLI {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #55b4d4;
}
.cid-v8t2svYR5Z {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-v8t2svYR5Z .mbr-section-subtitle {
  color: #767676;
}
.cid-v8t27z3JHj {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-v8t27z3JHj .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-v8t27z3JHj .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  margin-left: 2rem;
}
.cid-v8t27z3JHj .timeline-text-content p {
  margin-bottom: 0;
}
.cid-v8t27z3JHj .time-line-date-content {
  margin-right: 2rem;
}
.cid-v8t27z3JHj .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  float: right;
}
.cid-v8t27z3JHj .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-v8t27z3JHj .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-v8t27z3JHj .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-v8t27z3JHj .mbr-timeline-date,
.cid-v8t27z3JHj .timeline-text-content {
  transition: all .4s;
}
.cid-v8t27z3JHj .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-v8t27z3JHj .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-v8t27z3JHj .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-v8t27z3JHj .reverse .time-line-date-content p {
  float: left;
}
.cid-v8t27z3JHj .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #b2ccd2;
  top: 20px;
  margin-left: -10px;
}
.cid-v8t27z3JHj .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #b2ccd2;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-v8t27z3JHj .iconBackground {
    left: 0 !important;
  }
  .cid-v8t27z3JHj .separline:before {
    left: 0!important;
  }
  .cid-v8t27z3JHj .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-v8t27z3JHj .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-v8t27z3JHj .time-line-date-content p {
    float: left !important;
  }
  .cid-v8t27z3JHj .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-v8t27z3JHj .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-v8t27z3JHj .mbr-timeline-text {
  text-align: left;
}
.cid-uC0qu4xGze {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-uC0qu4xGze .mbr-section-subtitle {
  color: #767676;
}
.cid-uC0qaKGuLd {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-uC0qaKGuLd .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-uC0qaKGuLd .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  margin-left: 2rem;
}
.cid-uC0qaKGuLd .timeline-text-content p {
  margin-bottom: 0;
}
.cid-uC0qaKGuLd .time-line-date-content {
  margin-right: 2rem;
}
.cid-uC0qaKGuLd .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  float: right;
}
.cid-uC0qaKGuLd .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-uC0qaKGuLd .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-uC0qaKGuLd .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-uC0qaKGuLd .mbr-timeline-date,
.cid-uC0qaKGuLd .timeline-text-content {
  transition: all .4s;
}
.cid-uC0qaKGuLd .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-uC0qaKGuLd .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-uC0qaKGuLd .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-uC0qaKGuLd .reverse .time-line-date-content p {
  float: left;
}
.cid-uC0qaKGuLd .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #b2ccd2;
  top: 20px;
  margin-left: -10px;
}
.cid-uC0qaKGuLd .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #b2ccd2;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-uC0qaKGuLd .iconBackground {
    left: 0 !important;
  }
  .cid-uC0qaKGuLd .separline:before {
    left: 0!important;
  }
  .cid-uC0qaKGuLd .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-uC0qaKGuLd .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-uC0qaKGuLd .time-line-date-content p {
    float: left !important;
  }
  .cid-uC0qaKGuLd .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-uC0qaKGuLd .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-uC0qaKGuLd .mbr-timeline-text {
  text-align: left;
}
.cid-u1eCCHtgvT {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-u1eCCHtgvT .mbr-section-subtitle {
  color: #767676;
}
.cid-u1eC4Tj1Jk {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-u1eC4Tj1Jk .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-u1eC4Tj1Jk .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #f9f295;
  margin-left: 2rem;
}
.cid-u1eC4Tj1Jk .timeline-text-content p {
  margin-bottom: 0;
}
.cid-u1eC4Tj1Jk .time-line-date-content {
  margin-right: 2rem;
}
.cid-u1eC4Tj1Jk .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #f9f295;
  float: right;
}
.cid-u1eC4Tj1Jk .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-u1eC4Tj1Jk .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-u1eC4Tj1Jk .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-u1eC4Tj1Jk .mbr-timeline-date,
.cid-u1eC4Tj1Jk .timeline-text-content {
  transition: all .4s;
}
.cid-u1eC4Tj1Jk .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-u1eC4Tj1Jk .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-u1eC4Tj1Jk .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-u1eC4Tj1Jk .reverse .time-line-date-content p {
  float: left;
}
.cid-u1eC4Tj1Jk .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #f9f295;
  top: 20px;
  margin-left: -10px;
}
.cid-u1eC4Tj1Jk .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f9f295;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-u1eC4Tj1Jk .iconBackground {
    left: 0 !important;
  }
  .cid-u1eC4Tj1Jk .separline:before {
    left: 0!important;
  }
  .cid-u1eC4Tj1Jk .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-u1eC4Tj1Jk .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-u1eC4Tj1Jk .time-line-date-content p {
    float: left !important;
  }
  .cid-u1eC4Tj1Jk .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-u1eC4Tj1Jk .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-u1eC4Tj1Jk .mbr-timeline-text {
  text-align: left;
}
.cid-sZ2acmK5vY {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-sZ2acmK5vY .mbr-section-subtitle {
  color: #767676;
}
.cid-tv5X4cjR8G {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-tv5X4cjR8G .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-tv5X4cjR8G .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  margin-left: 2rem;
}
.cid-tv5X4cjR8G .timeline-text-content p {
  margin-bottom: 0;
}
.cid-tv5X4cjR8G .time-line-date-content {
  margin-right: 2rem;
}
.cid-tv5X4cjR8G .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  float: right;
}
.cid-tv5X4cjR8G .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-tv5X4cjR8G .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tv5X4cjR8G .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tv5X4cjR8G .mbr-timeline-date,
.cid-tv5X4cjR8G .timeline-text-content {
  transition: all .4s;
}
.cid-tv5X4cjR8G .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-tv5X4cjR8G .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-tv5X4cjR8G .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-tv5X4cjR8G .reverse .time-line-date-content p {
  float: left;
}
.cid-tv5X4cjR8G .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #b2ccd2;
  top: 20px;
  margin-left: -10px;
}
.cid-tv5X4cjR8G .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #b2ccd2;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-tv5X4cjR8G .iconBackground {
    left: 0 !important;
  }
  .cid-tv5X4cjR8G .separline:before {
    left: 0!important;
  }
  .cid-tv5X4cjR8G .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-tv5X4cjR8G .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-tv5X4cjR8G .time-line-date-content p {
    float: left !important;
  }
  .cid-tv5X4cjR8G .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-tv5X4cjR8G .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-tv5X4cjR8G .mbr-timeline-text {
  text-align: left;
}
.cid-tv5XcOSUi1 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-tv5XcOSUi1 .mbr-section-subtitle {
  color: #767676;
}
.cid-sZ2adAheCG {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-sZ2adAheCG .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-sZ2adAheCG .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #f9f295;
  margin-left: 2rem;
}
.cid-sZ2adAheCG .timeline-text-content p {
  margin-bottom: 0;
}
.cid-sZ2adAheCG .time-line-date-content {
  margin-right: 2rem;
}
.cid-sZ2adAheCG .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #f9f295;
  float: right;
}
.cid-sZ2adAheCG .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-sZ2adAheCG .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-sZ2adAheCG .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-sZ2adAheCG .mbr-timeline-date,
.cid-sZ2adAheCG .timeline-text-content {
  transition: all .4s;
}
.cid-sZ2adAheCG .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sZ2adAheCG .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-sZ2adAheCG .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-sZ2adAheCG .reverse .time-line-date-content p {
  float: left;
}
.cid-sZ2adAheCG .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #f9f295;
  top: 20px;
  margin-left: -10px;
}
.cid-sZ2adAheCG .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f9f295;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-sZ2adAheCG .iconBackground {
    left: 0 !important;
  }
  .cid-sZ2adAheCG .separline:before {
    left: 0!important;
  }
  .cid-sZ2adAheCG .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-sZ2adAheCG .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-sZ2adAheCG .time-line-date-content p {
    float: left !important;
  }
  .cid-sZ2adAheCG .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-sZ2adAheCG .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-sZ2adAheCG .mbr-timeline-text {
  text-align: left;
}
.cid-sqA3BiXMSI {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-sqA3BiXMSI .mbr-section-subtitle {
  color: #767676;
}
.cid-sqzYud5hsT {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-sqzYud5hsT .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-sqzYud5hsT .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  margin-left: 2rem;
}
.cid-sqzYud5hsT .timeline-text-content p {
  margin-bottom: 0;
}
.cid-sqzYud5hsT .time-line-date-content {
  margin-right: 2rem;
}
.cid-sqzYud5hsT .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  float: right;
}
.cid-sqzYud5hsT .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-sqzYud5hsT .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-sqzYud5hsT .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-sqzYud5hsT .mbr-timeline-date,
.cid-sqzYud5hsT .timeline-text-content {
  transition: all .4s;
}
.cid-sqzYud5hsT .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sqzYud5hsT .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-sqzYud5hsT .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-sqzYud5hsT .reverse .time-line-date-content p {
  float: left;
}
.cid-sqzYud5hsT .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #b2ccd2;
  top: 20px;
  margin-left: -10px;
}
.cid-sqzYud5hsT .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #b2ccd2;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-sqzYud5hsT .iconBackground {
    left: 0 !important;
  }
  .cid-sqzYud5hsT .separline:before {
    left: 0!important;
  }
  .cid-sqzYud5hsT .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-sqzYud5hsT .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-sqzYud5hsT .time-line-date-content p {
    float: left !important;
  }
  .cid-sqzYud5hsT .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-sqzYud5hsT .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-sqzYud5hsT .mbr-timeline-text {
  text-align: left;
}
.cid-sZ2nmgvxUO {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-sZ2nmgvxUO .mbr-section-subtitle {
  color: #767676;
}
.cid-sZ2jYdWNOw {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sZ2jYdWNOw .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-sZ2jYdWNOw .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #f9f295;
  margin-left: 2rem;
}
.cid-sZ2jYdWNOw .timeline-text-content p {
  margin-bottom: 0;
}
.cid-sZ2jYdWNOw .time-line-date-content {
  margin-right: 2rem;
}
.cid-sZ2jYdWNOw .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #f9f295;
  float: right;
}
.cid-sZ2jYdWNOw .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-sZ2jYdWNOw .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-sZ2jYdWNOw .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-sZ2jYdWNOw .mbr-timeline-date,
.cid-sZ2jYdWNOw .timeline-text-content {
  transition: all .4s;
}
.cid-sZ2jYdWNOw .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sZ2jYdWNOw .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-sZ2jYdWNOw .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-sZ2jYdWNOw .reverse .time-line-date-content p {
  float: left;
}
.cid-sZ2jYdWNOw .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #f9f295;
  top: 20px;
  margin-left: -10px;
}
.cid-sZ2jYdWNOw .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f9f295;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-sZ2jYdWNOw .iconBackground {
    left: 0 !important;
  }
  .cid-sZ2jYdWNOw .separline:before {
    left: 0!important;
  }
  .cid-sZ2jYdWNOw .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-sZ2jYdWNOw .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-sZ2jYdWNOw .time-line-date-content p {
    float: left !important;
  }
  .cid-sZ2jYdWNOw .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-sZ2jYdWNOw .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-sZ2jYdWNOw .mbr-timeline-text {
  text-align: left;
}
.cid-rjA7alhPnn {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-rjA7alhPnn .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-rjA7alhPnn .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  margin-left: 2rem;
}
.cid-rjA7alhPnn .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rjA7alhPnn .time-line-date-content {
  margin-right: 2rem;
}
.cid-rjA7alhPnn .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  float: right;
}
.cid-rjA7alhPnn .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-rjA7alhPnn .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rjA7alhPnn .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rjA7alhPnn .mbr-timeline-date,
.cid-rjA7alhPnn .timeline-text-content {
  transition: all .4s;
}
.cid-rjA7alhPnn .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rjA7alhPnn .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-rjA7alhPnn .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-rjA7alhPnn .reverse .time-line-date-content p {
  float: left;
}
.cid-rjA7alhPnn .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #b2ccd2;
  top: 20px;
  margin-left: -10px;
}
.cid-rjA7alhPnn .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #b2ccd2;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-rjA7alhPnn .iconBackground {
    left: 0 !important;
  }
  .cid-rjA7alhPnn .separline:before {
    left: 0!important;
  }
  .cid-rjA7alhPnn .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-rjA7alhPnn .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-rjA7alhPnn .time-line-date-content p {
    float: left !important;
  }
  .cid-rjA7alhPnn .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-rjA7alhPnn .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-rjA7alhPnn .mbr-timeline-text {
  text-align: left;
}
.cid-tv5XzxiLbv {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-tv5XzxiLbv .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-tv5XzxiLbv .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #f9f295;
  margin-left: 2rem;
}
.cid-tv5XzxiLbv .timeline-text-content p {
  margin-bottom: 0;
}
.cid-tv5XzxiLbv .time-line-date-content {
  margin-right: 2rem;
}
.cid-tv5XzxiLbv .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #f9f295;
  float: right;
}
.cid-tv5XzxiLbv .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-tv5XzxiLbv .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tv5XzxiLbv .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tv5XzxiLbv .mbr-timeline-date,
.cid-tv5XzxiLbv .timeline-text-content {
  transition: all .4s;
}
.cid-tv5XzxiLbv .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-tv5XzxiLbv .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-tv5XzxiLbv .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-tv5XzxiLbv .reverse .time-line-date-content p {
  float: left;
}
.cid-tv5XzxiLbv .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #f9f295;
  top: 20px;
  margin-left: -10px;
}
.cid-tv5XzxiLbv .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f9f295;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-tv5XzxiLbv .iconBackground {
    left: 0 !important;
  }
  .cid-tv5XzxiLbv .separline:before {
    left: 0!important;
  }
  .cid-tv5XzxiLbv .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-tv5XzxiLbv .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-tv5XzxiLbv .time-line-date-content p {
    float: left !important;
  }
  .cid-tv5XzxiLbv .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-tv5XzxiLbv .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-tv5XzxiLbv .mbr-timeline-text {
  text-align: left;
}
.cid-tv5XzxiLbv .mbr-timeline-title {
  text-align: left;
}
.cid-tv5Xg0A60r {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-tv5Xg0A60r .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-tv5Xg0A60r .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #55b4d4;
  margin-left: 2rem;
}
.cid-tv5Xg0A60r .timeline-text-content p {
  margin-bottom: 0;
}
.cid-tv5Xg0A60r .time-line-date-content {
  margin-right: 2rem;
}
.cid-tv5Xg0A60r .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #55b4d4;
  float: right;
}
.cid-tv5Xg0A60r .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-tv5Xg0A60r .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tv5Xg0A60r .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tv5Xg0A60r .mbr-timeline-date,
.cid-tv5Xg0A60r .timeline-text-content {
  transition: all .4s;
}
.cid-tv5Xg0A60r .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-tv5Xg0A60r .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-tv5Xg0A60r .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-tv5Xg0A60r .reverse .time-line-date-content p {
  float: left;
}
.cid-tv5Xg0A60r .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #55b4d4;
  top: 20px;
  margin-left: -10px;
}
.cid-tv5Xg0A60r .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #55b4d4;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-tv5Xg0A60r .iconBackground {
    left: 0 !important;
  }
  .cid-tv5Xg0A60r .separline:before {
    left: 0!important;
  }
  .cid-tv5Xg0A60r .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-tv5Xg0A60r .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-tv5Xg0A60r .time-line-date-content p {
    float: left !important;
  }
  .cid-tv5Xg0A60r .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-tv5Xg0A60r .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-tv5Xg0A60r .mbr-timeline-text {
  text-align: left;
}
.cid-tv5Xg0A60r .mbr-timeline-title {
  text-align: left;
}
.cid-qPhwnrmIJE {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qPhwhr4HUe {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qPhwhr4HUe .mbr-text,
.cid-qPhwhr4HUe blockquote {
  color: #767676;
}
.cid-qPhwhr4HUe .mbr-text {
  text-align: center;
}
.cid-qPhwhr4HUe .mbr-text B {
  color: #000000;
}
.cid-qPhwhVluLt {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #f9f295;
}
.cid-qPhwhVluLt .mbr-text,
.cid-qPhwhVluLt blockquote {
  color: #767676;
}
.cid-qPhwhVluLt .mbr-text {
  text-align: center;
}
.cid-qPhwhVluLt .mbr-text B {
  color: #000000;
}
.cid-qPhwipxLRF {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #f9f295;
}
.cid-qPhwiGOusV {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-qPhwiGOusV .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-qPhwiGOusV .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  margin-left: 2rem;
}
.cid-qPhwiGOusV .timeline-text-content p {
  margin-bottom: 0;
}
.cid-qPhwiGOusV .time-line-date-content {
  margin-right: 2rem;
}
.cid-qPhwiGOusV .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #b2ccd2;
  float: right;
}
.cid-qPhwiGOusV .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-qPhwiGOusV .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-qPhwiGOusV .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-qPhwiGOusV .mbr-timeline-date,
.cid-qPhwiGOusV .timeline-text-content {
  transition: all .4s;
}
.cid-qPhwiGOusV .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-qPhwiGOusV .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-qPhwiGOusV .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-qPhwiGOusV .reverse .time-line-date-content p {
  float: left;
}
.cid-qPhwiGOusV .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #b2ccd2;
  top: 20px;
  margin-left: -10px;
}
.cid-qPhwiGOusV .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #b2ccd2;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-qPhwiGOusV .iconBackground {
    left: 0 !important;
  }
  .cid-qPhwiGOusV .separline:before {
    left: 0!important;
  }
  .cid-qPhwiGOusV .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-qPhwiGOusV .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-qPhwiGOusV .time-line-date-content p {
    float: left !important;
  }
  .cid-qPhwiGOusV .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-qPhwiGOusV .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-qPhwiGOusV .mbr-timeline-text {
  text-align: left;
}
.cid-uH1layHZ5m {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f9f295;
}
.cid-uH1layHZ5m .mbr-section-subtitle {
  color: #767676;
}
.cid-uH1m5qs17I {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-uH1m5qs17I .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-uH1m5qs17I .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-uH1m5qs17I .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-uH1m5qs17I .inner-container {
    width: 100% !important;
  }
}
.cid-vujnOwLCGO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-vujnOwLCGO .mbr-fallback-image.disabled {
  display: none;
}
.cid-vujnOwLCGO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vujnOwLCGO .google-map {
  height: 30rem;
  position: relative;
}
.cid-vujnOwLCGO .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-vujnOwLCGO .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-vujnOwLCGO .google-map[data-state] {
  background: #e9e5dc;
}
.cid-vujnOwLCGO .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
